beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
et-xmlfile
flask
idna
importlib-metadata
itsdangerous
jinja2
MarkupSafe
numpy
openpyxl
packaging
pandas
python-dateutil
pytz
requests
six
soupsieve
tzdata
urllib3
werkzeug
zipp
python-logstash
django
django-admin